<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Add Chapters</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main class="font-serif">
      <div class="w-full flex items-center justify-between h-32">
        <h1 class="font-semibold text-4xl ml-60 flex"><%= course.name %></h1>
        <button
          class="mr-20 bg-red-300 border-4 border-black px-4 py-2"
          onclick="deleteCourse()"
        >
          Delete course
        </button>
      </div>
      <br />
      <div class="ml-60 text-lg"><%= course.description %></div>
      <br />
      <h2 class="ml-60 text-2xl underline">Chapters</h2>
      <br />
      <% if(chapters.length === 0) { %>
      <p class="ml-60 text-lg">There are no chapters available.Create one?</p>
      <% } else { %>
      <div class="ml-60 flex flex-col items-start">
        <% for(let i = 0; i < chapters.length; i++) { %>
        <a
          class="mb-2 bg-amber-100 w-80 px-2 py-2 flex"
          href="/chapter/<%= chapters[i].id %>"
          ><%= chapters[i].name %></a
        >
        <% } %>
      </div>
      <% } %>
      <br />
      <a
        href="/newChapter"
        class="border-2 border-black px-1 rounded-sm mx-2 bg-violet-500 ml-60 mt-20 text-xl"
      >
        Create a new chapter
      </a>
    </main>
  </body>
  <script>
    async function deleteCourse() {
      const res = await fetch("/course", {
        method: "delete",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "<%= csrfToken %>",
        },
        body: JSON.stringify({
          _csrf:"<%= csrfToken %>",
          id:<%= course.id %>
        }),
      });
      window.location = res.url;
    }
  </script>
</html>
